@model IEnumerable<FPFI.Models.Entry3>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Include_Thinning)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ByClass)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Stump)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MgDisc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LengthDisc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AgeStart)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AgeEnd)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Distribution)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DistributionThinning)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Model)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VolumeFormula)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Way)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IP)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProcessStart)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProcessTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Stage)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Include_Thinning)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ByClass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stump)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MgDisc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LengthDisc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgeStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgeEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Distribution)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DistributionThinning)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolumeFormula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Way)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProcessStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProcessTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
